<div class="field">
    <input type="text" class="menuItemName" placeholder="Menu Item Name">
</div>

<div class="field">
    <textarea type="text" class="description" placeholder="Description"></textarea>
</div>

<div class="field">
    <input type="text" class="price" placeholder="Price">
</div>

<div class="checkboxes">
    <input type="checkbox" value="vegan" id="chkBox1" class="chkBoxes">
    <label for="chkBox1">Vegan</label>
</div>
<div class="checkboxes">
    <input type="checkbox" value="vegetarian" id="chkBox2" class="chkBoxes">
    <label for="chkBox2">Vegetarian</label>
</div>
<div class="checkboxes">
    <input type="checkbox" value="gluten free" id="chkBox3" class="chkBoxes">
    <label for="chkBox3">Gluten Free</label>
</div>