@import 'normalize';
// @import 'components/nav';

body {
    color: blue;
    height: 100%;
}

.Bar bar {
    padding: 1em;
    border: 1px solid #ccc;
}

.Bar button.is-active {
    background-color: #000;
    color: #fff;
}

